#regionGraph{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 45%;
}
#parallel{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 60%;
    height: 50%;
}
#scatter{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 40%;
    height: 45%;
}
#select{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 60%;
    height: 10%;
}
div.axis_selector{
    display: inline;
}
.dataAxis line, .dataAxis path{
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}
.datapoint{
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1;
}
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}

.link {
    stroke: #ccc;
}